* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 60%;
  height: auto;
}
#displayBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#box1,
#box2 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #eaeaea;
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  overflow: hidden;
}

#box1 > h3,
#box2 > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  background-color: #000;
  color: white;
  font-weight: 300;
  padding: 1rem;
}

#imgDiv1,
#imgDiv2 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgDiv1 img,
#imgDiv2 img {
  width: 8rem;
}

#option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.optionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eaeaea;
  cursor: pointer;
}

.optionBox img {
  width: 70%;
}

@media (max-width: 667px) {
  * {
    font-size: 98%;
  }

  body {
    align-items: flex-start;
  }

  #main {
    justify-content: flex-start;
    max-width: 100%;
    padding: 2rem;
    gap: 1rem;
  }

  #displayBox {
    flex-direction: column;
    height: 24rem;
  }

  #imgDiv1 img,
  #imgDiv2 img {
    width: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  #option {
    gap: 2rem;
  }
}
